body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Substitua isso pela cor de fundo desejada */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 120px; /* Ajuste conforme necessário */
    height: auto;
    margin-top: 20px; /* Espaço entre o topo da página e a logo */
}

.container {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333; /* Ajuste a cor do texto conforme necessário */
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666; /* Ajuste a cor do texto conforme necessário */
}

.gender-selection {
    margin-top: 20px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.option img {
    width: 150px; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#male img {
    box-shadow: 0px 8px 15px rgba(0, 0, 255, 1); /* Sombra azul com cor #0000FF */
}

#female img {
    box-shadow: 0px 8px 15px rgba(255, 0, 150, 0.6); /* Sombra rosa */
}

.option p {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    color: #333; /* Ajuste a cor do texto conforme necessário */
}

.option img:hover {
    transform: scale(1.05);
}
