body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 120px; /* Ajuste conforme necess치rio */
    height: auto;
    margin-top: 10px; /* Diminui a margem superior para deixar a logo mais pr칩xima do topo */
    margin-bottom: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Garante que o container ocupe a largura total */
    max-width: 600px; /* Limita a largura m치xima do container */
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
}

.gender-selection {
    margin-top: 20px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.option img {
    width: 150px; /* Ajuste conforme necess치rio */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#male img {
    box-shadow: 0px 8px 15px rgba(0, 0, 255, 1); /* Sombra azul com cor #0000FF */
}

#female img {
    box-shadow: 0px 8px 15px rgba(255, 0, 150, 0.6); /* Sombra rosa */
}

.option p {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.option img:hover {
    transform: scale(1.05);
}
