/* Estilo principal do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Impede o scroll se necessário */
}

/* Estilo do header com a logo */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    background-color: #f4f4f4;
}

.logo {
    width: 120px;
    height: auto;
}

/* Estilo do container */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 80px; /* Adiciona margem superior para separar do topo da página */
    width: 80%; /* Ajuste a largura conforme necessário */
}

/* Estilo de títulos e parágrafos */
h1, h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
}

/* Estilo da seleção de gênero e idade */
.gender-selection, .age-options {
    margin-top: 20px;
}

.options, .row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.option, .age-options .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.option img, .age-options .option img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#male img {
    box-shadow: 0px 8px 15px rgba(0, 0, 255, 1);
}

#female img {
    box-shadow: 0px 8px 15px rgba(255, 0, 150, 0.6);
}

.option p {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.option img:hover {
    transform: scale(1.05);
}

/* Estilo da foto de sucesso e resultados */
.success-photo, .results-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Estilo do botão "Continuar" */
.continue-button {
    background-color: #FF0000;
    color: white;
    padding: 15px 40px;
    font-size: 1.4em;
    border: 3px solid #FF0000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.continue-button:hover {
    background-color: darkred;
    transform: scale(1.05);
}

.continue-button:active {
    transform: scale(0.98);
}

/* Estilo das opções de resposta */
.option-button {
    background-color: #FFFFFF;
    color: #000000;
    padding: 12px 20px;
    font-size: 1.1em;
    font-weight: bold;
    border: 2px solid #FF0000;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 8px 15px rgba(0, 0, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.option-button:hover {
    background-color: #FF0000;
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 255, 0.5);
}

.option-button:active {
    transform: scale(0.98);
    box-shadow: 0px 6px 12px rgba(0, 0, 255, 0.4);
}

.option-text {
    flex: 1;
}

.option-icon {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

/* Estilo da barra de progresso */
.progress-bar-container {
    width: 80%;
    background-color: #ccc;
    border-radius: 25px;
    padding: 5px;
    position: relative;
    height: 30px;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #ff0000, #ffffff);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 5s ease;
}

.heart {
    position: absolute;
    font-size: 1.5em;
    color: red;
    pointer-events: none;
    animation: heart-beat 1s infinite;
}

@keyframes heart-beat {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Estilo para a seção de cálculo de chance de reconquista */
#chance-calculation {
    text-align: center;
    padding: 2rem;
}

.progress-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.animated-bar {
    width: 80%;
    height: 30px;
    background-color: #ff0000;
    border-radius: 25px;
    position: relative;
    border: 3px solid #fff;
}

.animated-pointer {
    width: 10px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 5s ease;
}
